---
import ProductCard from "@components/ProductCard.astro";
import Pagination from "@components/Pagination.astro";

import { CategoryService, ProductService } from "@services";
import Layout from "@layouts/Layout.astro";
import Breadcrumb from "@components/Breadcrumb.astro";

export async function getStaticPaths() {
  const categories = await CategoryService.findAll();
  return categories.map((category) => ({
    params: { category: category.slug },
  }));
}

const { category } = Astro.params;

const productsAll = await ProductService.findAll();

const products = productsAll.filter(
  (product) => product.category.slug === category
);

const categories = await CategoryService.findAll();

const categoryCurrent = categories.find((cat) => cat.slug === category);

// Pagination
const productsPerPage = 9;
const currentPage = parseInt(Astro.url.searchParams.get("page") || "1");
const totalPages = Math.ceil(products.length / productsPerPage);
const paginatedProducts = products.slice(
  (currentPage - 1) * productsPerPage,
  currentPage * productsPerPage
);

const title = "AR Maquinaria - High-Quality Construction Machinery";
const description = "Discover our wide ran";

const breadcrumbItems = [
  { label: "Categorias", href: "/categorias" },
  { label: categoryCurrent.name, href: "#" },
];
---

<Layout title={title} description={description}>
  <main class="container mx-auto py-8 px-4">
    <Breadcrumb items={breadcrumbItems} />

    <h1 class="text-3xl font-bold mb-6 text-center text-primary">
      {categoryCurrent.name}
    </h1>

    <div class="flex flex-col md:flex-row gap-8">
      <div class="flex-1">
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
          {
            paginatedProducts.map((product) => (
              <ProductCard product={product} />
            ))
          }
        </div>
        <Pagination currentPage={currentPage} totalPages={totalPages} />
      </div>
    </div>
  </main>
</Layout>
